#projectContainer {
    padding-top: 16px;
}

#projects-header {
    padding-top: 34px;
    color: #436537;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
}

/* Portfolio Page Styling */
.projectCards {
    margin-right: auto!important;
    margin-left: auto!important;
}

/* Project Block Structure */
.project-right {
    display: block;
    margin: 5vh auto!important;
    padding-bottom: 80px;
    text-align: center;
    /* box-shadow: 0 0 30px -5px hsl(0deg 0% 21% / 45%); */
    width: 400px;
}

.project-left {
    display: block;
    margin: 40vh auto!important;
    padding-bottom: 80px;
    text-align: center;
    /* box-shadow: 0 0 30px -5px hsl(0deg 0% 21% / 45%); */
    width: 400px;
}

/* Project Title Styling */
.project-right-title{
    text-align: left;
    transform: translateX(-35px);
}

.project-left-title{
    text-align: right;
    transform: translateX(35px);
}

.project-title {
    /* Typography */
    color: #9FA89A;
    font-size: 40px;
    /* text-transform: uppercase; */
    font-family: 'Gilda Display', serif;


    /* Structural */
    /* margin: 20px 0px 0px;
    padding: 30px 0px 0px; */
    margin: 0;
    padding-top: 10px;
    background-color: rgb(255, 251, 246);
}

.project-subtitle {
    background-color: rgb(255, 251, 246);
    text-transform: uppercase!important;
    font-family: 'Red Hat Display', serif;
    color: #ffe282;
}


.projectDescription {
    margin-bottom: 30px;
}

/* Project Links */
a.projectLinks {
    color: rgb(201, 201, 201)!important;
    font-size: 20px;
    padding: 10px;
    /* position: absolute;
	bottom: 30px;
    right: 0;
    left: 0;
    text-align: center; */
}

#github {
    position: absolute;
	bottom: 20px;
    left: 10%;
    text-align: center;
}

#live {
    position: absolute;
	bottom: 20px;
    right: 10%;
    text-align: center;
}

a:hover {
    color: gray!important;
}

/* Project Walkthrough */
.portfolioImage {
    /*Structure*/
    display: block;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    padding-top: 20px;
    /* height: 400px; */
    border: none;
}