#skillsContainer {
    width: 90%;
    /* background: linear-gradient(to bottom, rgb(255, 251, 246) 75%, rgb(201, 201, 201) 0%); */
    padding: 16px 60px 0px;
}

#skills-header {
    padding-top: 34px;
    color: #436537;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
}

#skills {
    text-align: left;
    /* color: grey; */
    color: rgb(159, 168, 154);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 50px;
    line-height: normal;
    width: 50vw;
}

#skills-list {
    margin: auto;
}

#pre-projects {
    height: 80px;
}

h5, p {
    /* color: grey; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 10px
}

.profile-card {
    background-color: rgb(167, 234, 255);
    /* height: 700px; */
    /* width: 600px; */
    width: 500px;
    padding: 30px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 30px -5px hsl(0deg 0% 21% / 45%);
    margin: 10px;
    text-align: center;
    color: rgb(0, 45, 114)
}

/* #webdev {
    Display: block;
    margin: auto;
} */

#webdev {
    Display: block;
    margin-left: auto!important;
    margin-right: 30px!important;
}

#engineer {
    Display: block;
    margin-left: 30px!important;
    margin-right: auto!important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.icon {
    margin-bottom: 20px;
}

.card-title {
    font-weight: 700;
}

.languages {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* @media screen and (max-width: 1033px) {
    
    #webdev, #engineer {
        Display: block;
        margin-left: 25%!important;
        margin-right: 25%!important;
        width: 500px!important;
    }

    #webdev {
        margin-bottom: 20px;
    }

    #skillsContainer {
        padding-left: 30px;
        padding-right: 30px;
    }
} */

@media screen and (max-width: 833px) {
    
    #webdev {
        Display: block;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    
    #engineer {
        Display: block;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}