#aboutContainer {
    margin-top: 50px;
    margin-bottom: 10px;
}

#mainImage {
    /* Structure */
    border: 0!important;

    /* Display */
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    width: 400px;
    height: auto!important;
}

p {
    padding: 15px;
    color: grey;
}

.contactlinks {
    color: grey!important;
    font-size: 15px;  
}