#aboutContainer {
    padding: 92px 15px 0px;
}

#pre-about {
    padding-top: 34px;
}

#about-header {
    padding-top: 34px;
    color: #436537;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
}

#mainImage {
    /* Structure */
    border: 0!important;
    padding: 0;

    /* Display */
    display: block;
    margin: 80px auto 0px;
    border-radius: 0;
    
    width: 400px;
    height: auto!important;
}

.midline-border {
    border-right: 1px solid rgb(159, 168, 154);
}

#about-text {
    padding: 80px 73.5px 0px;
    /* color: rgb(108, 108, 108); */
    /* color: rgb(159, 168, 154); */
    color: #9FA89A;
}

#about-text p {
    text-align: left;
    padding: 0;
    font-family: "Gilda Display", serif;
    font-size: 35px;
    line-height: normal;
}

.contactlinks {
    color: grey!important;
    font-size: 15px;  
}

#pre-skills {
    height: 80px;
}