#aboutContainer {
    padding: 63px 15px 15px;
    /* margin-bottom: 10px; */
}

#mainImage {
    /* Structure */
    border: 0!important;
    padding: 0;

    /* Display */
    display: block;
    margin: 80px auto;
    border-radius: 0;
    
    width: 400px;
    height: auto!important;
}

#portfolio-picture {
    border-right: 1px solid rgb(159, 168, 154);
    /* rgba(245, 236, 227); */
    /* color: rgb(159, 168, 154)!important; */
}

#about-text {
    padding: 80px 73.5px;
    color: rgb(108, 108, 108);
}

#about-text p {
    text-align: left;
    padding: 0;
}

.contactlinks {
    color: grey!important;
    font-size: 15px;  
}