#headerContainer {
    height: 100vh;
    position: relative;
    padding: 0;
}

#header-row {
    width: 100%;
    position: absolute;
    /* bottom: x; left: 30px; */
    top: 0; bottom: 0; left: auto; right: auto;
    margin: auto;
    /* padding-top: 35% */
}

#type {
    position: absolute;
    top:30vh; left: 60px;
}

#scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 251, 246);
    /* color: #74916c!important; */
    border-color: rgb(159, 168, 154);
    color: rgb(159, 168, 154)!important;
}

.react-typewriter-text {
    text-align: left;
    /* color: #507245!important; */
    /* color: #627e59!important; */
    /* color: #436537!important; */
    color: rgb(51, 104, 18)!important;
    /* color: red; */
}