#navbar {
    /* background-color: rgb(167, 234, 255); */
    background-color: rgb(255, 251, 246);
}

.links {
    color: rgb(159, 49, 15)!important;
    font-weight: 700;
    font-size: 20px;
    padding: 40px 35px !important
}